<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRYWieBqSZN5Xy-Fjw5PhR9l3jDByQIbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>308003099454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DayOnes</string>
	<key>PROJECT_ID</key>
	<string>dayones-8d64e</string>
	<key>STORAGE_BUCKET</key>
	<string>dayones-8d64e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308003099454:ios:c623d97bbd48ea816f926f</string>
</dict>
</plist>